* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins; /* Esto ayuda a calcular correctamente el tamaño total de los elementos */
}

ul, ol, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: initial; /* Restablecer el tamaño de fuente a su valor inicial */
    font-weight: normal; /* Restablecer el peso de fuente a normal */
}

a {
   text-decoration: none; 
   color: white;
}

a:hover {
    color: white; /* Mantiene el color del texto igual */
    text-decoration: none; /* Elimina el subrayado */
    cursor: pointer; /* Cambia el cursor a una mano */
}

div {
    margin: 0;
    display: inline;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box; /* Añadir box-sizing para que el ancho y alto incluyan el relleno y el borde */
}
