.footer {
    background-color: rgb(189, 161, 140);
    color: #fff;
    padding: 3rem;
    text-align: center;
}

.sociallinks {
    margin-bottom: 10px;
}

.sociallinks a {
    display: inline-block;
    margin-right: 10px;
}

.sociallinksIcon {
    width: 30px;
    height: 30px;
}