.navLinks li{
    display: inline-block;
    padding: 0 20px;   
    cursor: pointer;
}

.navLinks li:hover{
    transform: scale(1.1);
}
.navLinks a{
    font-size: 700;
    color: #000000;
    text-decoration: none;  
    font-weight: 450;  
    letter-spacing: 1px;
}

.navLinks li:hover{
    color: rgb(155, 98, 88);
}

