body{
  font-family: "Playfair Display", serif;
}

ul, ol {
  list-style: none;
}

/* Eliminar decoraciones y colores por defecto de los enlaces */
a {
  text-decoration: none;
  color: inherit;
}




